@mixin font {
    font-family: 'Play', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.5px;
    color: #666666;
}

@mixin font2 {
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    color: #292929;
}

.section {
    // height: 100vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.section__title {
    margin-bottom: 32px;
    text-transform: uppercase;
    top: 0;
    margin-top: 101px;
    text-align: center;

    @include font2;
}


