.benefits {
    display: flex;
    justify-content: space-around;
    position: relative;

    &:before {
        content: url(../img/decor/Rectangle.svg);
        position: absolute;
        top: rem(-20px);
        right: rem(127px);
        width: rem(10.5px);
        height: rem(46.5px);
    }

    &:after {
        content: url(../img/decor/Vector.svg);
        position: absolute;
        bottom: rem(-13px);
        left: rem(60px);
        width: rem(34px);
        height: rem(34.5px);
    }

    @include phones {
        flex-direction: column;
    }
}

.benefits__container {
    position: relative;
}

.benefits__content {
    display: flex;
    justify-content: space-around;

    @include phones {
        flex-direction: column;
    }
}

.benefits__item {
    flex: 1;
    padding: 0 3%;
    position: relative;
    
    &:before {
        content: url(../img/decor/Combined.svg);
        width: rem(70px);
        height: rem(24px);
        position: absolute;
        top: rem(52px);
        right: 0;
        transform: translateX(50%);

        @include phones {
            display: none;
        }
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;

        &:before {display: none;}
    }

    @include tablets {
        padding: 0 1%;
    }

    @include phones {
        display: flex;
        align-items: center;
        padding: 0 0;
        margin-bottom: rem(30px);
    }
}

.benefit {
    text-align: center;
}

.benefit__image-wrapper {
    display: inline-block;
    width: rem(128px);
    height: rem(128px);
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
}

.benefit__image {
    margin-bottom: rem(24px);

    @include phones {
        margin-right: rem(12px);
        margin-bottom: 0;
    }
}

.benefit__text {
    font-family: 'Play';

    @include phones {
        text-align: left;
    }
}

.benefit__title {
    color: #292929;
    font-weight: 700;
    font-size: rem(24px);
    line-height: rem(27.7px);
    margin-bottom: rem(7px);

    @include tablets {
        margin-bottom: rem(20px);
    }
}

.benefit__desc {
    @include font;
}

.benefits__headline {
    @include tablets {
        margin-bottom: rem(52px);
    }
}

.benefits__title {
    margin-bottom: rem(18px);

    @include tablets {
        margin-bottom: rem(11px);
    }

    @include phones {
        font-size: rem(32px);
        line-height: rem(36px);
    }
}

.benefits__subtitle {
    padding: 0 21%;
    font-size: rem(16px);

    @include font;

    @include tablets {
        width: 100%;
        padding: 0 15%;
    }

    @include phones {
        padding: 0 5%;
    }
}