.btn {
    @include font;

    color: white;
    align-self: start;
    text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;
    
    &--dark {
        font-weight: 700; 
        background: #E01F3D;
        border-radius: rem(100px);
        padding: rem(18px) rem(41px);
        
        &:hover {
            background: #CA1B36;
        }

        @include tablets {
            align-self: center;
        }
    }

    &--transparent {
        background: transparent;
        font-weight: 400;
        text-transform: none;
        padding: rem(18px) rem(10px);

        &:hover {
            color: #E01F3D;

        }
    }
}