.btn {
    @include font;

    color: white;
    align-self: start;
    text-decoration: none;
    display: inline-block;
    border: none;
       

    &--dark {
        font-weight: 700; 
        background: #E01F3D;
        border-radius: 100px;
        padding: 18px 41px;
        
        &:hover {
            background: #CA1B36;
        }
    }

    &--transparent {
        background: transparent;
        font-weight: 400;
        text-transform: none;
        padding: 1px 10px;

        &:hover {
            color: #000000;
        }
    }
}