.hero {
    background: $grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


header {
    display: flex;
    justify-content: space-between;
    height: rem(88px);
    align-items: center;
}

.logo {
    width: rem(40px);
    height: rem(40px);
    margin-right: rem(38px);
}





.hero__main-section {
    display: flex;
    align-items: center;
    flex: 1;

    @include tablets {
        flex-direction: column-reverse;
        justify-content: center;
    }
}

.hero__main-left {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablets {
        width: 100%;
        height: 50%;
        text-align: center;
        justify-content: flex-start;
        padding-top: rem(40px);
    }
}

.headline {
    margin-bottom: rem(62px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.headline__title {
    margin-bottom: rem(18px);
}

.headline__subtitle {
    padding: 0 21%;

    @include font;
}

.hero__main-title {
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: rem(48px);
    line-height: rem(52px);
    width: 90%;

    @include tablets {
        align-self: center;
        margin-bottom: rem(5px);
    }

    @include minimum {
        font-size: rem(36px);
    }

}

.hero__title-desc {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    font-size: rem(21px);
    line-height: rem(25px);
    margin-bottom: rem(25px);

    @include tablets {
        width: rem(400px);
        align-self: center;
    }

    @include minimum {
        width: rem(315px);
    }
}

.hero__icons-section {
    @include tablets {
        display: none;
    }
}

.features {
    display: flex;
    justify-content: space-between;
    margin-right: rem(-50px);
    margin-top: rem(46px);
}

.features__item {
    display: flex;
}

.feature__text {
    @include font;
    color: #292929;
}

.hero__main-right {
    width: 50%;
    height: auto;
    margin-right: 0;
    display: flex;
    align-items: center;

    @include tablets {
        height: 50%;
        align-items: flex-end;
        padding-bottom: rem(24px);
    }

    @include phones {
        height: 50%;
        align-self: center;
        justify-content: center;
        padding-top: rem(17px);
    }
}

.hero__beats-img {
    background: $white;
    border-radius: 50%;
    overflow: hidden;
    right: 0;
    bottom: 0;
}